@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", cursive;
}

body {
    background-image: url(Resources/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    display: flex;
}

header .logo a{
    position: relative;
    min-width: 40px;
}

header .logo h2{
    list-style: none;
    display: none;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 10px;
    font-family: "MedievalSharp", cursive;
}

header .logo:hover h2{
    display: inline-block;
    animation: fadelogo 2s;
}

@keyframes fadelogo {
    from {
      opacity: 0;
      transform: translateX(-300deg);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

header #mynav {
    display: flex;
}

header #mynav li {
    list-style: none;
}

header #mynav li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 20px;
    margin-left: 40px;
    font-family: "MedievalSharp", cursive;
}




.sidebar{
  position: fixed;
  top: 0;
  right: 0; /* Changed from left: 0 */
  height: 100vh;
  width: 250px;
  background-color: #ffffff48;
  backdrop-filter: blur(20px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(100%); /* Removed transform property */
  transition: 1s;
  padding-top: 75px;
}

.sidebar li{
  width: 100%;
  list-style: none;
}

.sidebar a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 20px 20px;
    margin-left: 40px;
    font-family: "MedievalSharp", cursive;
    border-bottom: 1px solid transparent
}

.sidebar1{
  transform: translateX(0);
  transition: 0.5s;
}




.my-button {
    background-color: transparent;
    border: 10px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    margin-left: 32px;
    float: left;
    line-height: 70px;
    display: none;
}
  
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s;
}

.content .textBox {
    max-width: 600px;
}

.content .textBox h1{
    padding-top: 40px;
    font-size: 2.5em;
    color: #fffb00;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h1 span {
    color: #896d4d;
    font-size: 1.5em;
    font-weight: 900;
}


.content .textBox p {
    color: #ffffff;
    font-size: 2em;
    font-family: "Bonheur Royale", cursive;
}

.content .textBox a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #017143;
    padding: 8px 20px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

.content .imgBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.wooden-text {
    width: 100%;
    height: 100%;
    color: #fff;
    mix-blend-mode: darken;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #000,
      -0.05em 0.05em 0.1em #000, -0.1em 0.1em 0.3em #000,
      -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    translate: translate3d(0, 0, 0);
    font-size: 32vmin;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .small {
    font-size: 0.475em;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-10deg);
    }


    to{
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }


    to{
      opacity: 0;
      transform: translateX(-10deg);
    }
  }


 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    justify-items: center;
    text-align: center;
    margin: 5% auto; /* 15% from the top and centered */
    border-radius: 10px;
    width: 60%;
    height: 75%; /* Could be more or less, depending on screen size */
  }



  .modal-content div{
    display: block;
    position: relative;
    margin: 100px auto; /* 15% from the top and centered */
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
      /*Could be more or less, depending on screen size */
    
  }

  .modal-content div div{
    justify-items: center;
    text-align: center;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 70%; /* Could be more or less, depending on screen size */
    z-index: 10;
  }

.modal-content input {
    justify-items: center;
    text-align: center;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.modal-content input:focus {
    
    background: transparent;
    border: none;
    cursor: pointer;
}

#alert1{
  display: none;
  padding-top: 10px;
  color: red;
  font-size: 1.2rem;
}

.modal-content button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #017143;
    padding: 8px 20px;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

#popupText {
    justify-items: center;
    transform: translateY(-150%);
    width: 500px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    padding: 10px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  #gif{
    position: relative;
    justify-items: center;
    align-self:center;
    flex-direction: column;
    margin-top: 5%;
    display: none;
  }

.addTask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.addTask input {
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 20px;
    caret-color: white;
}

.addTask input:focus {
    background: transparent;
    border: none;
    cursor: pointer;
}

.addTask button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #017143;
    padding: 0px 20px;
    margin-left: 20px;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.taskList{
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px 0px;
}


.alert2::placeholder{
  color: rgba(255, 0, 0, 0.425);
}

.container1{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 100px;
    margin-top: 180px;
    height: 64%;

}

.container1 h2{
    color: #020202;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #333;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container1 ul li{
  padding: 10px;
  list-style: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 5px;
}

.container1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f1f1f146; /* Color of the track */
  border: none;
}

/* Handle */
.container1::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
.container1::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovered */
}



.todoList{
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
}



.todoList li img{
  position: relative;
  width: 25px;
  margin-right: 10px;
  top: 5px;
}

.checked{
  text-decoration: line-through;
  color: #333333c7;
}


.todoList li.checked::after{
  content: '';
  position: absolute;
  height: 30px;
  width: 39px;
  background-image: url(Resources/completed.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 60px;
}

.todoList li span{
  font-size: 1.7em;
  color: #333;
  font-weight: 500;
  position: absolute;
  right: 25px;
}

.todoList li span:hover{
  cursor: pointer;
  color: red;
}

.menu-btn{
  display: none;
  right: 0px;
  z-index: 1001;
  position: absolute;
  transform: translateX(0px);
  transition: 0.5s;
}

.menu-btn a{
  margin: 0 !important;
  padding: 0 !important;
}

.menu-btn img{
  height: 50px;
  cursor: pointer;
}

.menu-btn img:hover{
  transform: scale(1.1);
  transition: 0.5s ease all;
}

.menu-btnfinal{
  transform: translateX(-140px);
  transition: 0.5s;
  position: fixed;
}

.menu-btnfinal1{
  position: fixed;
}

.menu-btn1{
  display: none;
  right: 0px;
  z-index: 1000;
}

.menu-btn1 a{
  margin: 0 !important;
  padding: 0 !important;
}

.menu-btn1 img{
  height: 50px;
  cursor: pointer;
}

.blur-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a1;
  z-index: 998;
  display: none;
}

.active{
  display: block;
  transition: 1s;
}


.activitv{
  display: flex;
  animation: fadeIn 3s;
}

/* For screens smaller than 768px (tablets and below) */
@media only screen and (max-width: 768px) {
  header {
      padding: 20px;
      padding-right: 0;
  }

  header #mynav .hidden{
      display: none;
  }
  
  header .logo img{
      justify-content: center;
      align-items: center;
      width: 70px;
  }


  header .logo h2 {
      width: 150px;
      padding: 10px;
      font-size: 1.5rem;
      display: none;
  }

  .my-button {
      display: inline-block;
  }

  .content {
      justify-content: center;
      flex-direction: column;
      padding: 50px 20px;
  }

  .content div img {
      width:  300px;
  }

  .wooden-text {
    mix-blend-mode: normal;
    text-shadow: 
    0 0 0.05em rgba(255, 255, 255, 0.2), -0.025em 0.025em 0.1em #ffffff,
    -0.05em 0.05em 0.1em #ffffff, -0.1em 0.1em 0.3em #ffffff,
    -0.1em 0.1em 0.5em rgba(255, 255, 255, 0.5);
  }

  .content .textBox {
      text-align: center;
      margin-top: 30px;
  }

  .content .imgBox {
      justify-content: center;
  }

  .content .textBox h1 {
      font-size: 2em;
  }

  .content .textBox p {
      font-size: 1.5em;
  }

  .container1 {
      margin-left: 55px;
      align-items: center;
  }

  .container1 h2 {
      font-size: 2em;
  }

  .todoList{
    padding: 0px;
  }
  .todoList li{
    padding: 10px 0px;
    font-size: 1em !important;
  }

  .todoList li span {
    right: 5px;
}

.todoList li.checked::after {
  width: 31px;
  height: 25px;
  right: 25px;
}

  #popupText {
      width: 80%;
  }

  .taskList {
      margin-top: 10%;
  }
  
  .modal-content{
    margin-top: 50%;
    width: 100%;
    
  }
  .modal-content img{
    justify-content: center;
    align-items: center;
    width: 375px;
  }
  #popupText{
    height: 400px;
  }
  #popupText input{
    width: 100%;
  }

  #gif{
    width: 1000%;
  }
  
  .addTask {
    z-index: 0;
  }

  .addTask input{
    font-size: 20px;
  }

  .addTask button{
    font-size: 20px;
  }

  .taskList img{
    width: 375px;
  
  }

  .menu-btn{
    display: block;
  }

  .menu-btn1{
    display: block;
  }


}

/* For screens smaller than 480px (phones and below) */
@media only screen and (max-width: 480px) {
  .content .textBox h1 {
      font-size: 1.5em;
  }

  .content .textBox p {
      font-size: 1.2em;
  }

  .container1 {
      margin-top: 100px;
  }
}
